body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
nav {
  display: flex;
  padding: 15px 45px;
  justify-content: space-between;
  align-items: center;
}
.imgContainer {
  display: flex;
  align-items: center;
  width: 20%;
}
.imgContainer img {
  width: 50%;
}
.navItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.navItems ul {
  display: flex;
  list-style: none;
  gap: 30px;
}
.navItems ul li a {
  text-decoration: none;
  color: black;
}
.navItems button {
  padding: 10px 13px;
  background: #000000;
  color: white;
  border: 0;
  border-radius: 5px;
}
.heroSection {
  padding: 0px 50px;
}
.heroContainer {
  background-color: #f4f6f5;
  /*height: 80vh; */
  width: 100%;
  border-radius: 35px;
  display: flex;
}
.textContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 50px 8px;
}
.textContainer h1 {
  font-size: 75px;
  margin: 0;
  padding: 0;
}
.textContainer p {
  font-size: 25px;
}
.textContainer button {
  padding: 10px 10px;
  background: #000000;
  color: white;
  border: 0;
  border-radius: 5px;
}
.heroImgContainer {
  width: 50%;
  padding-top: 82px;
}
.heroImgContainer img {
  width: 100%;
}
.imgNafSection {
  padding: 20px 70px;
  background: #ebd96b;
  display: flex;
  justify-content: center;
}
.imgNavDiv {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.imgNavDiv img {
  width: 10%;
}
.sectionContainer {
  padding: 0 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ecd74b;
}
.imgDiv {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: left;
}
.imgDiv img {
  width: 65%;
}
text {
  width: 50%;
  display: flex;
  padding: 50px 8px;
}
.text h1 {
  font-size: 55px;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: black;
}
.text p {
  font-size: 15px;
}
.text .date {
  font-weight: bold;
  color: #000;
}
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 10px;
}
